.item {
    display: block;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 0px 20px;
    text-align: justify;
    font-family: "Gill Sans", sans-serif;
    background-color: #FFDAB9;
    text-overflow: ellipsis;
}

.commentAuthor {
    margin: 0px 8px
}

.commentText {
    margin: 0px;
    padding-bottom: 15px;
}

.headerSection {
    display: flex;
    padding: 15px 0px;
}

.buttonContainer:hover {
    cursor: pointer;
}